<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your book marker - Flankerpress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_flask.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='books.css') }}">
  </head>
  <body>
    <nav>
      <h1>The Book Marker</h1>
      <ul class="topnav-links">
        <li>
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="{{ url_for('books') }}">Books</a>
        </li>
        <li>
          <a href="#">Articles</a>
        </li>
        <li>
          <a href="#">Our Picks</a>
        </li>
        {% if session['logged_in'] %}
          <li>
            <a href="{{ url_for('user_profile') }}">Hi, {{ username }}!</a>
          </li>
        {% endif %}
        <li>
          {% if session['logged_in'] %}
            <a href="{{ url_for('logout') }}"> Log out</a>
          {% else %}
            <a href="{{ url_for('go_login') }}">Log in</a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <article>
      <form class="bookmarking-form" action="/bookchor_bookmark" method="POST">
        {% if session['logged_in'] %}
        <h1>Enter the index of the book and click bookmark!</h1>
        <br>
        <input type="text" name="index" value="">
        <input type="submit" name="submit-bookmark" value="Bookmark">
        {% endif %}
      </form>
      {% for i in range(0, len) %}
      <div class="container">
        <p>{{ id_result[i] }}</p>
        <a href="{{ links_to_web[i] }}"><img src="{{ images[i] }}"></a>
        <p>{{ book_titles[i] }}</p>
      </div>
      {% endfor %}
    </article>
  </body>
</html>
