<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup page</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_flask.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}" type="text/css">
  </head>
  <body>
    <nav>
      <h1>The Book Marker</h1>
      <ul class="topnav-links">
        <li>
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Books</a>
        </li>
        <li>
          <a href="#">Articles</a>
        </li>
        <li>
          <a href="#">Our Picks</a>
        </li>
        <li>
          {% if session['logged_in'] %}
          <a href="{{ url_for('logout') }}">Log out</a>
          {% else %}
          <a href="{{ url_for('go_login') }}">Log in</a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <article class="container">
      <div class="container-items">
        <h1>Signup form:</h1>
        <br>
        {% block body %}
        {% if session['logged_in'] %}
          You're logged in already!
        {% else %}
        <form action="/signup" method="POST">
          <input type="text" placeholder="Name" name="name">
          <input type="username" placeholder="Username" name="username">
          <input type="email" placeholder="E-mail" name="email">
          <input type="password" placeholder="Password" name="password">
          <input type="password" placeholder="Confirm Password" name="confirm">
          <input type="submit" name="submit">
        </form>
        {% endif %}
        {% endblock %}
      </div>
    </article>
  </body>
</html>
