<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your book marker - {{ username }} profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_flask.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='books.css') }}">
  </head>
  <body>
    <nav>
      <h1>The Book Marker</h1>
      <ul class="topnav-links">
        <li>
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="{{ url_for('books') }}">Books</a>
        </li>
        <li>
          <a href="#">Articles</a>
        </li>
        <li>
          <a href="#">Our Picks</a>
        </li>
        {% if session['logged_in'] %}
          <li>
            <a href="{{ url_for('user_profile') }}">Hi, {{ username }}!</a>
          </li>
        {% endif %}
        <li>
          {% if session['logged_in'] %}
            <a href="{{ url_for('logout') }}"> Log out</a>
          {% else %}
            <a href="{{ url_for('go_login') }}">Log in</a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <article>
      <div class="greetings">
        <h1>Hey, {{ username }}!</h1>
        <p>Here, you will find your personal information and all the bookmarked books that you have done.</p>

        <h1>Name: {{ name }}</h1>
        <h1>Email: {{ email }}</h1>

        <div class="row">
          <div class="column">
            <h1>SFWA</h1>
            {% for i in range(0, sfwa_len) %}
              <a href="{{ sfwa_links[i] }}"><img src="{{ sfwa_images[i] }}"></a>
              <p>{{ sfwa_names[i] }}</p>
            {% endfor %}
          </div>

          <div class="column">
            <h1>YABOOK</h1>
            {% for i in range(0, yabook_len) %}
              <a href="{{ yabook_links[i] }}"><img src="{{ yabook_images[i] }}"></a>
              <p>{{ yabook_names[i] }}</p>
            {% endfor %}
          </div>

          <div class="column">
            <h1>BOOKCHOR</h1>
            {% for i in range(0, bookchor_len) %}
              <a href="{{ bookchor_links[i] }}"><img src="{{ bookchor_images[i] }}"></a>
              <p>{{ bookchor_names[i] }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </body>
</html>
